body {
  margin: 0;
  font-family: Arial,sans-serif;
}
 d-flex {
  display: flex;
} 
.container {
  font-size: 2rem;
}
.productContainer {
  margin-top: 10rem;
}
.product {
  width: 33%;
}
.image img {
  width: 10rem;
  background-color: red;
}
