body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.d-flex {
  display: flex;
}

.container {
  font-size: 2rem;
}

.productContainer {
  font-family: Arial, Helvetica, sans-serif;
}

.product {
  width: 33%;
}

.image img {
  width: 10rem;
  background-color: red;
}

.banner img {
  background-color: greenyellow;
  width: 20px;
}
